* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/img/dolly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
}

.contact-section h1 {
    color: #bebebe;
    text-shadow: 2px 1px 5px #d6d6d6;
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
}

.contact-section form{
    width: 480px;
    text-align: center;
}

form p {
    color: #e5ff00;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: left;  
}

/*form .input-box {
    margin-bottom: 5px;
    justify-content: space-around;
}*/

.field .item {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #4e75f7;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    color: aliceblue;
    margin: 12px 0;
}

.field.error .item {
    border-color: #fc3159;
}

.field .item::placeholder {
    color: #d1d1d1;
}

.msg-error {
    color: #fc3159;
    font-size: 12px;
    margin: -5px 0 10px;
    display: flex;
    text-align: left;  
    display: none;
}

.field.error .msg-error {
    display: flex;
}

.textarea-field .item{
    resize: none;
}


button {
    width: 50%;
    padding: 12px 32px;
    background-color: #4e75f7;
    box-shadow: 0 0 5px #fff;
    border: none;
    border-radius: 6px;
    outline: none;    
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: .2s ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px #0ef;
    color: #bebebe ;
}

